<launch>
  <!-- Launch the joy_node -->

   <!-- WARNING the value might have to change to js0 depending on the order of bluetooth connections-->
  <node name="joy_node" pkg="joy" type="joy_node" output="screen">
    <param name="dev" value="/dev/input/js1" />
  </node>

  <!-- Launch the controller listener -->
  <node name="controller_node" pkg="robot_controller" type="controller_node" output="screen" />
</launch>
